@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
}

/* svg background */
body::before {
    content: "";
    background-image: url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: -40px;
    left:170px;
    height:100%;
    width:100%;
    z-index: -1;

}
/* svg background */
body::after {
    content: "";
    background-image: url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom:-750px;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;

}

ul {
    list-style-type: none;
    padding-left: 0;
    /* margin:0; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 46px;
    margin-bottom: 46px;
    text-align: center;
    font-size: 26px;
    color: hsl(233, 13%, 49%);
}

h3 {
    margin: 0;
    font-size: 15px;
    position: relative;
    top: 32px;
    color: hsl(233, 13%, 49%);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    margin-bottom: 77px;
}

#toggle-container p {
    color: hsl(234, 14%, 74%);
}

#price-cards .box-card {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 368px;
    min-height: 456px;
    background-color: #FEFFFF;
    text-align: center;
    margin-bottom: 29px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

  

.box-card p {
    margin-bottom: 0;
    margin-top: 39px;
    font-size: 54px;
    padding-bottom: 38px;
    color: hsl(232, 13%, 33%);
}

.box-card button {
    background-image: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    width: 317px;
    height: 43px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}


#unlist {
    width: 365px;
    height: 160px;
}

ul li {
    position: relative;
    padding-bottom: 18px;
    margin-top: 18px;
    color: hsl(233, 13%, 49%);
}

.divider {
    margin: 0;
    height: 1px;
    width: 310px;
    background-color: hsl(234, 14%, 74%);
}


#violet {
    background-image: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#violet h3 {
    color: #fff;
}

#violet li {
    color: #fff;
}

#violet p {
    color: #fff;
}

#violet button {
    background-image: none;
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

   
